#container>header {
    background-color: #9ec3e8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5rem;
    min-height: 10vh;
}

#container>header .header_l {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

/* #container > header .header_r {
    display: flex;
    justify-content: space-around;
} */

:root {
    --title-color: #e1ecb8;
    --header-color: #bee2e8;
    --main-color: #d3eadd;
    --list-h1-color: #9ec3e8;
    --text-color: #ffffff;
}

#container>header a {
    color: var(--text-color);
}

#container>main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container>main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1ecb8;
    color: #fff;
    margin-bottom: 30px;
    /* text-align: center; */
    min-height: 8vh;


    /* display: flex;
    justify-content: center; */
}

#container>main .search {
    display: flex;
    justify-content: center;
}

#container>main .search input {
    padding: 10px;
    margin-bottom: 10px;
    /* background-color: red; */
}

#container>main .table {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* max-width: 80vw; */
}

#container>main th {
    background-color: #bee2e8;
    padding: 20px;
    /* margin: 20px; */
}

#container>main tr .title a:hover {
    /* color: red; */
    opacity: 70%;
}

#container>main tr td {
    padding: 10px;
    background-color: #d3eadd;
}

#container>main .selected_page a {
    font-weight: bold;
    color: red;
}

#container>main .paging {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#container>main .paging a {
    padding: 5px;
}

#container footer {
    color: grey;
    text-align: center;
}