body {
    background-color: #9ec3e8;
}

.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

h1 {
    background-color: #e1ecb8;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

input {
    margin: 15px;
    padding: 5px;
}

.title {
    width: 20vw;

}
textarea{
    width: 20vw;
    height: 30vh;
    padding: 5px;
}